

.RobotElement{
    cursor:pointer;
    font-size:1rem;
    @media only screen and (max-width: 600px) {
        font-size: 0.8rem;
    }
    .image_container{
        font-size: 3em;
        .doctorImage{
            width:1.5em;
            height:3em;
            // border-radius: 50%;
            // border:3px solid purple;
            pointer-events: none;

        }
    }

    .robotWrapper{
        display:flex;
        flex-direction: column;
        align-items:center;
        font-size: 3em;
        .robotHead{ 
            border-radius: 0.3em;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            width:1em;
            height:1em;
            margin-bottom: 0.2em;
            background-color:white;
            box-shadow: 0.1em 0.1em 0.5em 1px rgba(0, 0, 0, 0.342);;
            overflow: hidden;
            display:flex;
            align-items:flex-start;
            justify-content:center;
            .face{
                background-color:black;
                color:rgb(60, 112, 255);
                // border-radius: 0.1em;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
                width:0.8em;
                height: 0.9em;
                display:flex;
                align-items:center;
                justify-content:center;
                padding:0.1em;
                padding-top:0.3em;
                pointer-events: none;
                .emoji {
                    width:100%;
                    height: 100%;
                }
            }
        }
        .robotBody{
            width:1em;
            height:1.5em;
            background-color:white;
            box-shadow: 0.1em 0.1em 0.5em 1px rgba(0, 0, 0, 0.342);;
            overflow: hidden;
            border-radius: 0.2em;
            border-bottom-right-radius: 80%;
            border-bottom-left-radius: 80%;
            position:relative;
            .tie{
                position:absolute;
                top:0.0em;
                left:50%;
                color:black;
                width:0.5em;
                height:0.5em;
                line-height: 0;
                transform:translate(-50%, 0);
                svg{
                    width:100%;
                    height: 100%;
                }
            }
            .bodyLogo{
                position:absolute;
                top:0.2em;
                right:0em;
                color:red;
                width:0.5em;
                height:0.5em;
                line-height: 0;
                display:none;
                svg{
                    width:100%;
                    height: 100%;
                }
            }
        }
    }
}