.stroke_point {
    padding: 50px 0;
    position: relative;

    .sp_bg {
        top: -2%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
        opacity: 0.5;

        @media (max-width: 768px) {
            top: 0;
        }
    }

    .page_header {
        background: rgb(255, 0, 104);
        background: linear-gradient(45deg, rgba(255, 0, 104, 1) 0%, rgba(157, 0, 255, 1) 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom: 5rem;

        .title {
            text-transform: uppercase;
            font-size: 2.5em;
            max-width: 90%;
            margin: 1rem auto;
            font-weight: bold;

            @media (max-width: 768px) {
                font-size: 1.3em;
            }
        }

        .des {
            text-transform: uppercase;
            font-size: 1.5em;
            margin: 1rem auto;

            @media (max-width: 768px) {
                font-size: 1em;
            }
        }
    }

    .stroke_table {
        font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 95%;
        max-width: 1000px;
        margin: auto;
        margin-top: 3em;
        background: rgba(255, 255, 255, 0.63);
        // border-color:black;
        text-align: left;

        .sum {
            font-size: 2em;
            text-transform: uppercase;
        }

        .sum_value {
            font-size: 2em;
        }
    }

    thead {
        font-size: 1em;

        * {
            text-transform: uppercase;
        }
    }

    .stroke_item {
        width: 100%;

        &:not(:first-child) {
            border-top: none;
        }

        .question_container {
            padding: 0.5em;
            overflow: hidden;
            max-width: 20vw;
            text-align: left;

            .question {
                font-size: 1.2em;
                text-align: left;
                font-weight: bold;
                text-transform: uppercase;
                background: rgb(230, 0, 141);
                background: linear-gradient(45deg, rgb(187, 0, 115) 0%, rgb(142, 1, 189) 100%);

                background-clip: text;
                color: transparent;

                @media not all and (min-resolution: 0.001dpcm) {
                    @supports (-webkit-appearance: none) {
                        -webkit-text-fill-color: purple !important;
                    }
                }

                @media (max-width: 768px) {
                    font-size: 1em;
                    font-weight: bold;
                }
            }
        }

        .unit {
            font-size: 1.2em;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            background: rgb(230, 0, 141);
            background: linear-gradient(45deg, rgb(187, 0, 115) 0%, rgb(142, 1, 189) 100%);

            background-clip: text;
            color: transparent;

            @media not all and (min-resolution: 0.001dpcm) {
                @supports (-webkit-appearance: none) {
                    -webkit-text-fill-color: purple !important;
                }
            }

            @media (max-width: 768px) {
                font-size: 1em;
                font-weight: bold;
            }
        }

        .answers {
            flex: 10;
            padding: 0.5em 2em;

            @media (max-width: 768px) {
                padding: 0.5em;
            }

            .answer {
                text-align: left;
                display: flex;
                flex-direction: column;

                .radio {
                    display: none;

                    &:checked+label {
                        // background: purple;
                        color: white;
                        background: rgb(230, 0, 141);
                        background: linear-gradient(45deg, rgba(230, 0, 141, 1) 0%, rgba(192, 0, 255, 1) 100%);
                    }
                }

                .label {
                    border-radius: 5px;
                    // border: 2px solid purple;
                    background: rgba(128, 128, 128, 0.288);
                    padding: 0.5em;
                    margin-bottom: 0.5em;
                }
            }
        }

        .value {
            padding: 0.5em;
            flex: 1;
            font-size: 2em;
            font-weight: bold;

            @media (max-width: 768px) {
                font-size: 1.5em;
            }
        }
    }

    .submitButton {
        border: none;
        outline: none;
        background: rgb(230, 0, 141);
        background: linear-gradient(45deg, rgba(230, 0, 141, 1) 0%, rgba(192, 0, 255, 1) 100%);
        color: white;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 2rem;
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }
}