.table-confirm-button {
    font-size: 32px;
    margin-right: 7px;
    cursor: pointer;
}

.table-cancel-button {
    font-size: 20px;
    cursor: pointer;
}

.patient-info-table {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-family: BeVietNam;

    @media only screen and (max-width: 600px) {
        font-size: 1rem;
        padding: 0.5rem;
    }

    // background: rgb(157, 104, 255);
    // background: linear-gradient(45deg, rgb(167, 119, 255) 0%, rgba(255, 159, 192, 1) 100%);
    // box-shadow: 0 0 20px 1px rgba(234, 0, 255, 0.3);

    background: #1D4350;
    background: linear-gradient(45deg, #1D4350 0%, #A43931 100%, );

    .table {
        background: rgba(255, 255, 255, 0);
        color: white;

        tr:nth-child(odd) {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    tr {

        &.editable {
            background: rgba(255, 238, 0, 0.555) !important;

            .dataSpace {
                background: white;
            }
        }

        th,
        td {
            padding: 0;
            border: none !important;
        }

        .dataSpace {

            .data,
            .input {
                padding: 0.6em !important;
                font-size: 1em;
                width: 100%;
                border: none;
                outline: none;
                transition: all 0.2s ease;
                background: transparent;
                color: black;

                &:read-only {
                    color: white;
                }

                * {
                    font-size: 1em !important;
                }

                // box-shadow: 0 0 0 3px rgba(56, 56, 255, 0.589);
                &:focus {
                    transition: all 0.2s ease;
                }
            }
        }

        .labelSpace {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5em;

        }

        .btnSpace {
            padding: 0.5em;
            display: flex;
            width: 100%;
            justify-content: center;

            .editBtn {
                outline: none;
                border: none;
                background: none;
                padding: 0;
                margin: 0 0.3em;
                font-size: 1.4em;
                line-height: 0;

                span {
                    width: 1.2em;
                    height: 1.2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1em;
                    background-color: white;
                    border-radius: 50%;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }

                &.edit {
                    color: rgb(42, 141, 255);
                }

                &.confirm {
                    color: rgb(0, 255, 42);
                }

                &.cancel {
                    color: rgb(255, 166, 0);
                }
            }
        }
    }
}

.input-text {
    background: #ffffff;
    border: 1px solid #d3dbf8;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 4px #f6f6f9;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: -0.43px;
    color: rgba(37, 0, 68);
    padding: 15px;
    outline: none;
    width: 100%;
    -webkit-appearance: unset;

    &::placeholder {
        color: rgba(37, 0, 68, 0.6);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.columns {
    margin-top: 20px;
    display: flex
}

.column {
    &:nth-child(2) {
        margin-left: 10px;
    }

    position: relative;
    flex: 1;
    margin: 0;
}

.label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.43px;
    color: #250044;
    margin: 0 0 0.5rem;
    text-align: left;
}