@mixin flexcentercolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexcenterrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --prime: ;
}

// .home_column {
//   @include flexcentercolumn;
// }
// .home_row {
//   @include flexcenterrow;
// }
// .h_justart {
//   justify-content: flex-start !important;
// }
// .h_alstart {
//   align-items: flex-start !important;
// }
// .h_juround {
//   justify-content: space-around !important;
// }
// .h_alround {
//   align-items: space-around !important;
// }
// .h_jubet {
//   justify-content: space-between !important;
// }
// .h_albet {
//   align-items: space-between !important;
// }
// .h_wrap {
//   flex-wrap: wrap;
// }
// .home_hidden {
//   opacity: 0;
//   pointer-events: none;
// }

// //

// .home_all {
//   @include flexcenterrow;
//   width: 100vw;
// }
// .home_carry {
//   @include flexcentercolumn;
//   justify-content: flex-start;
//   width: 80%;
//   height: 1100px;
//   max-width: 1000px;
//   min-width: 400px;
//   margin-top: 100px;
// }
// .home_switch {
//   @include flexcenterrow;
//   width: 70%;
//   height: 80px;
//   border-radius: 20px;
//   background-color: white;
//   box-shadow: -5px 5px 15px 2px rgba(34, 34, 34, 0.1);
//   position: relative;
//   border: 4px solid #25aeef;
// }
// .home_switch_text {
//   @media (max-width: 800px) {
//     display: none;
//   }
// }
// .home_switch_item {
//   font-size: 20px;
//   font-weight: 700;
//   padding: 10px 20px;
//   cursor: pointer;
//   transition: all 0.2s ease-in;
// }
// @mixin home_switch_back {
//   background-color: #f4f4f7;
//   border-radius: 15px;
//   width: 25%;
//   height: 60px;
//   position: absolute;
//   transition: all 0.3s cubic-bezier(0.62, 0.25, 0.4, 1.21);
// }
// .home_switch_back_1 {
//   @include home_switch_back;
//   left: 5.5%;
// }
// .home_switch_back_2 {
//   @include home_switch_back;
//   left: 40%;
// }
// .home_switch_back_3 {
//   @include home_switch_back;
//   left: 71%;
// }
// .home_switch_item_toggle {
//   color: #5b52eb;
// }
// .home_switch_icon {
//   margin-top: -5px;
// }

.home_slide {
    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-bottom: 30vh;

    @media only screen and (max-width: 600px) {
        margin-bottom: 0 !important;
    }

    .bg {
        height: 100%;
        position: absolute;
        opacity: 0.5;
        transform: translateY(30vh);
    }

    .title_slider {
        margin-top: 2em;
        // text-transform: uppercase;
        font-size: 3em;
        font-weight: bold;
        color: purple;

        @media only screen and (max-width: 600px) {
            font-size: 1.3rem;
            max-width: 70%;
        }
    }

    .des_slider {
        font-size: 2em;
        font-family: Raleway;
        color: gray;
        max-width: 700px;
        text-align: center;

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
            max-width: 80%;
        }
    }

    .carousel_container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .icon_container {
            color: gray;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 7em;
            z-index: 5;
            outline: none;
            border: none;
            background: transparent;
            transition: all 0.5s;

            @media only screen and (max-width: 600px) {
                font-size: 4rem;
            }

            &:hover {
                transform: translate(0, -50%) scale(1.2);
                transition: all 0.5s;
            }

            &.right {
                right: -1em;

                @media only screen and (max-width: 600px) {
                    right: -1rem;
                }
            }

            &.left {
                left: -1em;

                @media only screen and (max-width: 600px) {
                    left: -1rem;
                }
            }
        }

        .graborder {
            margin: 20px;
            // padding: 5px;
            border-radius: 15px;
            // background: rgb(255, 0, 112);
            // background: linear-gradient(90deg, rgba(255, 0, 112, 1) 0%, rgba(0, 117, 255, 1) 100%);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        }

        .carousel_wrapper {
            border-radius: 15px;
            overflow: hidden;
            position: relative;
        }

        .home_slide_carry {
            border-radius: 15px;
            background: white;
            width: 800px;
            height: 450px;

            @media only screen and (max-width: 600px) {
                width: 80vw;
                height: 130vw;
            }
        }

        .ItemContainer {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 800px;
            height: 450px;
            position: relative;
            overflow: hidden;
            font-family: Raleway;
            font-size: 0.8em;

            @media only screen and (max-width: 600px) {
                font-size: 1rem;

                @media only screen and (max-width: 600px) {
                    width: 80vw;
                    height: 130vw;
                }
            }

            * {
                transition: all 0.5s;
                text-align: left;
            }

            .shadowbot {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                background: white;
                background: linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
            }

            .title {
                z-index: 5;
                text-align: center;
                font-size: 2.5em;
                color: black;
                background: white;
                margin: 0;
                padding: 0.3em;
                border-bottom: 1px solid #ccc;
                box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.5);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgb(179, 149, 255);
                background: linear-gradient(90deg, rgba(179, 149, 255, 1) 0%, rgba(255, 0, 160, 1) 100%);
                // background: rgb(89, 16, 138);
                // background: linear-gradient(90deg, rgba(89, 16, 138, 1) 0%, rgba(113, 16, 52, 1) 100%) !important;
                color: white;
                position: relative;
                overflow: hidden;

                @media only screen and (max-width: 600px) {
                    font-size: 1.2rem;
                    min-height: 20vw;

                    span {
                        text-align: center;
                    }
                }

                .titlebg {
                    position: absolute;
                    z-index: 5;
                }

                span {
                    z-index: 6;
                }
            }

            &:hover {
                .image_container {
                    opacity: 0;
                    transition: all 0.5s;
                }

                .content {
                    transform: translateY(0);
                    opacity: 1;
                    transition: all 0.5s;
                }
            }

            .content {
                transform: translateY(100px);
                bottom: 0;
                opacity: 0;
                position: absolute;
                padding: 1em;
                flex: 1;
                font-size: 1.3em;
                text-overflow: ellipsis;
                padding-bottom: 3em;

                @media only screen and (max-width: 600px) {
                    font-size: 0.8rem;
                }
            }

            .image_container {
                width: 100%;
                overflow: hidden;
                flex: 1;

                .image_wrap {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    @media only screen and (max-width: 600px) {
                        height: 100%;
                        width: auto;
                    }

                    img {
                        width: 100%;
                        object-fit: cover;

                        @media only screen and (max-width: 600px) {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

.feed_back {
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 600px) {
        margin-top: 6rem;
    }

    .title {
        color: purple;
        font-size: 3em;
        font-weight: bold;

        @media only screen and (max-width: 600px) {
            font-size: 1.5rem;
            max-width: 80%;
        }
    }

    .des {
        font-family: Raleway;
        color: gray;
        font-size: 1.3em;

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
            max-width: 80%;
        }
    }

    .carousel {
        position: relative;
        background: rgb(153, 0, 255);
        background: linear-gradient(90deg, rgba(153, 0, 255, 1) 0%, rgba(255, 0, 95, 1) 100%);
        border-radius: 2em;

        .slideButton {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3em;
            padding: 0;
            z-index: 10;
            cursor: pointer;

            svg {
                background: white;
                border-radius: 5px;
            }

            &.right {
                right: -0.5em;
            }

            &.left {
                left: -0.5em;
            }
        }

        .feed_back_slider {
            width: 1000px;
            height: 400px;

            @media only screen and (max-width: 600px) {
                width: 80vw;
                height: 40vh;
            }
        }

        .fb_item {
            width: 1000px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;
            padding: 20px;

            @media only screen and (max-width: 600px) {
                width: 80vw;
                height: 40vh;
                justify-content: flex-start;
            }

            .user {
                display: flex;
                flex-direction: column;
                align-items: center;

                .avatar_container {
                    .avatar {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 5px solid white;
                        background-color: plum;
                        color: white;

                        @media only screen and (max-width: 600px) {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }

                .name {
                    color: white;
                    margin-top: 0.5em;
                    font-size: 2em;

                    @media only screen and (max-width: 600px) {
                        font-size: 1rem;
                    }
                }
            }

            .fb_content {
                .star_container {
                    .star {
                        font-size: 3em;
                        color: rgb(229, 255, 0);

                        &.star_empty {
                            color: rgba(0, 0, 0, 0.3);
                        }

                        @media only screen and (max-width: 600px) {
                            font-size: 1rem;
                        }
                    }
                }

                .comment {
                    background-color: rgba(255, 255, 255, 0.76);
                    padding: 1em;
                    border-radius: 0.5em;
                    margin-top: 0.5em;
                    font-size: 2em;

                    @media only screen and (max-width: 600px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.home-content {
    // position: relative;
    // top: 90px;
    margin: auto;
    width: 100%;

    .btn_space {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;
        align-items: flex-start;
        font-size: 1rem;
        padding-bottom: 1rem;

        a {
            margin-top: 1em;
            font-size: 1.2em;
            padding: 0.5em 1em;
            border-radius: 1.5em;
            transition: all 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

            @media only screen and (max-width: 600px) {
                font-size: 1em;
            }
        }
    }

    .main_home_btn1 {
        box-shadow: 0 0 10px 1 rgba(0, 0, 0, 0.3);
        color: white;
        background: rgb(179, 149, 255);
        background: linear-gradient(90deg, rgba(179, 149, 255, 1) 0%, rgba(255, 0, 160, 1) 100%);

        &:hover {
            box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.548);
            transition: all 0.5s;
        }
    }

    .main_home_btn2 {
        color: purple;
        border: 2px solid purple;
        background: white;

        &:hover {
            box-shadow: 3px 3px 5px 1px purple;
            transition: all 0.5s;
        }
    }

    .main_home_btn3 {
        color: black;
        border: 1px solid black;
        background: white;
    }
}

.home_main {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    min-height: 800px;
    // background-size: 100% cover;
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media only screen and (max-width: 600px) {
        min-height: auto !important;
    }

    .content1 {
        margin-top: 9em;
        display: flex;
        justify-content: space-around;
        width: 100%;

        @media only screen and (max-width: 600px) {
            margin-top: 3em;
        }
    }

    &_slogan {
        margin-top: 1em;
        margin-left: 3em;
        flex: 1;
        color: #233d36;
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;

        @media only screen and (max-width: 600px) {
            font-size: 1.3rem;
            margin: 0.7em;
        }
    }

    &_description {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
        font-family: Raleway;
        max-width: 550px;
        margin-top: 1em;
        font-size: 1.2rem;
        font-weight: 400;

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }

    &_pic {
        margin-top: 2em;
        flex: 1;

        img {
            max-width: 100%;
        }
    }
}

.focus {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;

    .background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: -1;
    }

    h1 {
        font-size: 3em;
        font-weight: bold;
        color: purple;
        font-family: BeVietNam;
        text-transform: uppercase;
        font-weight: bold;

        @media only screen and (max-width: 600px) {
            font-size: 1.3rem;
        }
    }

    .describe {
        font-family: BeVietNam;
        font-style: italic;
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.1rem;
        }
    }

    .hotline {
        display: flex;
        margin: auto;
        font-size: 1.3em;
        width: 7em;
        height: 7em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: crimson;
        position: relative;

        @media screen and (max-width: 600px) {
            font-size: 1em;
        }


        .ring {
            width: 100%;
            height: 100%;
            border: 2px solid crimson;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .rings {}
    }

    .slider {
        width: 50vw;
        margin: 1rem auto;

        @media only screen and (max-width: 600px) {
            width: 80vw;
        }

        .sliderItem {
            width: 50vw;

            @media only screen and (max-width: 600px) {
                width: 80vw;
            }

            .sliderItemImage {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;

                .imgItem {
                    margin: 10px;
                    box-shadow: 5px 5px 1rem 1px rgba(0, 0, 0, 0.5);
                    max-width: 90%;
                    max-height: 90vh;
                    border-radius: 1rem;

                    @media only screen and (max-width: 600px) {
                        max-height: 60vh;
                    }
                }
            }
        }
    }
}

.strength {
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    padding: 2em;
    margin-top: 5em;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        max-width: 550px;

        .title {
            font-size: 3em;
            font-weight: bold;
            color: purple;

            @media only screen and (max-width: 600px) {
                font-size: 1.3rem;
            }
        }

        .describe {
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            font-family: Raleway;
            color: gray;
            font-weight: normal;

            @media only screen and (max-width: 600px) {
                font-size: 1rem;
            }

            a {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

.features {
    margin-top: 3em;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .feature {
        margin: 2em;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 1em;
        box-shadow: 0 0 30px 1px rgba(253, 0, 127, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        width: 20em;
        height: 20em;

        @media only screen and (max-width: 600px) {
            font-size: 0.4rem;
        }

        &:hover {
            .dot_container {
                transform: rotateZ(90deg);
                transition: all 0.5s;
            }

            .icon_wrapper {
                transform: rotateZ(-180deg);
                transition: all 0.5s;
            }
        }

        .icon_container {
            font-size: 5em;
            display: flex;
            justify-content: center;
            position: relative;

            .icon_wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                transition: all 0.5s;
                border-radius: 50%;
                border: 2px solid #ccc;

                @media only screen and (max-width: 600px) {
                    padding: 0.4em;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .dot_container {
                z-index: 5;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: all 0.5s;
            }

            .dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: rgb(255, 0, 106);
                box-shadow: 3px 3px 4px rgba(255, 0, 106, 0.589);
            }

            .dot1 {
                transform: translateX(-4px);
            }

            .dot2 {
                transform: translateX(4px);
            }
        }

        .text {
            background: -webkit-linear-gradient(rgb(255, 0, 106), rgb(45, 0, 168));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: Raleway;
            font-size: 2em;

            @media only screen and (max-width: 600px) {
                margin-top: 0.5em;
            }
        }
    }
}

.rate_website {
    z-index: 3;
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    @media only screen and (max-width: 600px) {
        margin-top: 5rem;
        flex-direction: column;
        align-items: none;
    }

    .bg {
        transform: translateY(-20%);
        opacity: 0.5;
        position: absolute;
        width: 100%;

        // height: 100%;
        @media only screen and (max-width: 600px) {
            height: 150%;
            width: auto;
            left: 15%;
            top: -20%;
        }
    }

    .rate_item {
        margin: 2em 4em;
        display: flex;
        align-items: center;
        background: -webkit-linear-gradient(rgb(255, 0, 106), rgb(45, 0, 168));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;
        font-family: Raleway;
        font-size: 0.7em;

        .rate_item_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            @media only screen and (max-width: 600px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .icon_container {
            // display:none;
            margin-right: 2em;
            // padding: 20px;
            width: 8em;
            height: 8em;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .rate_content {
            display: flex;
            flex-direction: column;
            align-items: center;

            // .rate_icon_wrapper {
            //     padding: 1px;
            //     width: 1em;
            //     height: 1em;
            //     margin-right: 15px;
            //     line-height: 0;
            // }
            @media only screen and (max-width: 600px) {
                margin-left: 1em;
                align-items: flex-start;
            }

            .rate_item_text {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                font-family: "Courier New", Courier, monospace;
                text-shadow: 3px 3px 1px rgba(255, 0, 212, 0.3);
                font-size: 5em;

                @media only screen and (max-width: 600px) {
                    font-size: 2rem;
                }
            }

            .rate_item_des {
                font-size: 1.5em;
                text-shadow: 2px 2px 1px rgba(195, 0, 255, 0.3);
            }
        }
    }
}

.home_video {
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    display: flex;
    padding-bottom: 10vh;
    align-items: center;

    @media only screen and (max-width: 600px) {
        min-height: none;
        margin-top: 10vh;
    }

    .image_container {
        flex: 3;

        img {
            width: 90%;
        }
    }

    .content_container {
        min-height: 100%;
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .video_carousel_container {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;

            @media (max-width: 600px) {
                width: 100%;
                height: 60vw;
            }

            .carousel-button-group {
                position: absolute;
                width: 100%;
                display: flex;
                top: 50%;
                transform: translateY(-50%);
                justify-content: space-between;
                z-index: 100 !important;

                @media (max-width: 600px) {
                    margin-top: 4rem;
                }

                button {
                    font-size: 4em;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    transition: all 0.5s ease-in-out;
                    z-index: 90;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;

                    @media (max-width: 600px) {
                        font-size: 3rem;
                    }

                    span {
                        background-color: transparent !important;

                        svg {
                            background-color: white;
                            border-radius: 50%;
                            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
                        }
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .background {
                position: absolute;
                background: rgb(171, 29, 117);
                background: linear-gradient(90deg, rgba(171, 29, 117, 1) 0%, rgba(74, 23, 205, 1) 100%);
                width: 100%;
                height: 70%;
                top: 30%;

                @media only screen and (max-width: 600px) {
                    top: 50%;
                    height: 120%;
                }
            }

            .CarouselMultiple {
                max-width: 90vw;

                @media only screen and (max-width: 600px) {
                    margin-top: 0;
                }

                .iframe_item {
                    pointer-events: none;
                    padding: 0;
                    background: white;
                    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
                    margin: 10%;
                    width: 80%;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    border-radius: 5px;

                    .iframe_youtube {
                        flex: 3;
                        margin: 0;
                        width: 100%;
                    }

                    .i_title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        font-size: 1.3em;
                        font-weight: bold;
                        pointer-events: none !important;
                    }
                }
            }
        }

        .title {
            font-weight: bold;
            color: purple;
            font-size: 3em;
            border-radius: 10px;
            font-weight: bold;
            // text-transform: uppercase;
            text-align: left;

            @media only screen and (max-width: 600px) {
                font-size: 1.3rem;
            }

            .icon {
                font-size: 1.5em;
                margin-left: 0.5em;
            }
        }

        .des {
            color: gray;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            font-size: 1.8em;
            text-align: center;
            font-family: Raleway;
            max-width: 800px;

            @media only screen and (max-width: 600px) {
                font-size: 1rem;
                max-width: 80%;
            }
        }

        .box {
            height: 4em;
            width: 7em;
            border-radius: 0.5em;
            overflow: hidden;
            background: rgb(89, 16, 138);
            background: linear-gradient(90deg, rgba(89, 16, 138, 0.5) 0%, rgba(113, 16, 52, 0.5) 100%);
            border: 5px solid purple;
            font-size: 4.5em;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon_container {
                font-size: 2em;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .wave {
                    width: 90%;
                    height: 90%;
                    border-radius: 50%;
                    border: 3px solid rgb(142, 163, 255);
                    position: absolute;
                    z-index: 5;
                    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
                }

                &:hover {
                    svg {
                        transform: scale(1.2);
                        transition: all 0.5s;
                    }
                }

                svg {
                    transition: all 0.5s;
                    z-index: 6;
                    background-color: white;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}

.modal_home {
    min-width: 90vw;
    min-height: 90vh;
    // width:fit-content;
    // height:fit-content;
}

.qna {
    display: flex;
    padding: 2em;

    @media (max-width: 768px) {
        margin-top: 7rem;
        flex-direction: column;
    }

    .forum {
        flex: 3;
        margin-right: 1rem;
        background: #1D4350;
        background: linear-gradient(45deg, #1D4350 0%, #A43931 100%, );
        // background: rgb(255, 0, 157);
        // background: linear-gradient(315deg, rgba(255, 0, 157, 1) 0%, rgba(236, 255, 0, 1) 100%);
        border-radius: 20px;
        color: white;
        font-family: Raleway;
        padding: 1rem;

        @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 5rem;
        }

        .title {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            padding: 1rem;

            @media (max-width: 768px) {
                padding: 0.5rem;
            }
        }

        .forum_content {
            display: flex;
            justify-content: center;

            .ant-carousel {
                width: 40vw;
                height: 30vw;

                @media (max-width: 768px) {
                    width: 80vw;
                    height: 80vw;
                }
            }

            .forum_item {
                width: 40vw;
                height: 30vw;
                display: flex !important;
                flex-direction: column;
                align-items: center !important;
                justify-content: center;

                @media (max-width: 768px) {
                    width: 80vw;
                    height: 80vw;
                    padding: 2rem;
                }

                .img {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 20px;
                }
            }
        }
    }

    .qna_box {
        flex: 6;
        background: #1D4350;
        background: linear-gradient(-45deg, #1D4350 0%, #A43931 100%, );
        // background: rgb(255, 0, 157);
        // background: linear-gradient(45deg, rgba(255, 0, 157, 1) 0%, rgba(236, 255, 0, 1) 100%);
        border-radius: 20px;
        color: white;
        font-family: Raleway;
        padding: 1rem;
        display: flex;
        flex-direction: row;

        .qna_banner {
            border-right: 2px solid white;
            margin-right: 2rem;
            flex: 5;
            display: flex;
            align-items: center;
            justify-content: center;

            .banner {
                width: 80%;
            }
        }

        .qna_content {
            flex: 4;
        }

        .title {
            padding: 1rem;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 1px solid white;
            margin-bottom: 1rem;

            @media (max-width: 768px) {
                font-size: 1.4rem;
            }
        }

        .expert {
            display: flex;
            margin-bottom: 10px;

            .expert_avatar {
                width: 5rem;
                height: 5rem;
                background-color: white;
                color: black;
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
                padding: 5px;
                border-radius: 50%;
                overflow: hidden;

                @media (max-width: 768px) {
                    width: 3rem;
                    height: 3rem;
                }

                .avatar {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    overflow: hidden;
                    object-fit: cover;
                }
            }

            .expert_info {
                text-align: left;
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                font-size: 1.2rem;

                @media (max-width: 768px) {
                    font-size: 1rem;
                }

                .des {
                    font-size: 1rem;

                    @media (max-width: 768px) {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .form {
            display: flex;
            flex-direction: column;

            .btn_space {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .submit {
                    background-color: white;
                    border-radius: 5px;
                    padding: 10px;
                    color: orange;
                    font-size: 1.3rem;
                    border: none;
                    outline: none;
                    min-width: 100px;

                    @media (max-width: 768px) {
                        padding: 5px;
                        font-size: 1.1rem;
                    }
                }
            }

            .qna_input {
                background-color: white;
                border: none;
                outline: none;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;
                color: black;
            }
        }
    }
}

.viewAndComments {
    margin-top: 9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;

    @media (max-width: 768px) {
        margin-top: 3rem;
        padding: 2em;
        flex-direction: column;
    }

    .view {
        background: #1D4350;
        background: linear-gradient(45deg, #1D4350 0%, #A43931 100%, );
        // background: rgb(255, 0, 157);
        // background: linear-gradient(135deg, rgba(255, 0, 157, 1) 0%, rgb(255, 239, 11) 100%);
        padding: 1em;
        border-radius: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        @media (max-width: 768px) {
            margin-bottom: 3rem;
            width: 100%;
        }

        .viewContent {
            font-size: 1rem;
        }

        .viewItem {
            display: flex;
            text-align: left;
            padding: 0.5em;

            .viewIcon {
                line-height: 0;
                font-size: 1.5em;
                margin-right: 1em;
            }

            .viewText {
                font-size: 1em;
                flex: 1;
                margin-right: 3em;
            }

            .viewNumber {
                font-size: 1em;
            }
        }
    }

    .comments {
        flex: 3;
    }
}

.comments {
    margin: auto;

    padding: 1em;
    background: #1D4350;
    background: linear-gradient(-45deg, #1D4350 0%, #A43931 100%, );
    // background: rgb(255, 0, 157);
    // background: linear-gradient(135deg, rgba(255, 0, 157, 1) 0%, rgba(236, 255, 0, 1) 100%);
    border-radius: 1em;
    font-family: BeVietNam;

    .cmt_title {
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: bold;

        @media (max-width: 768px) {
            font-size: 1.3rem;
        }
    }

    .cmt_des {
        font-size: 1.3rem;
        color: white;
        opacity: 0.6;
        text-align: center;
        font-weight: normal;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    .formContent {
        display: flex;
        flex-direction: column;

        @media (max-width: 600px) {
            flex-direction: column;
        }

        .input {
            flex: 1;
        }

        .input {
            width: 100%;
            border: none;
            outline: none;
            margin-top: 1rem;
            border-radius: 5px;
            // min-height: 50px;
            padding: 10px;
            font-size: 1.3em;
        }

        .btn_space {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            button {
                height: 100%;
                border: none;
                outline: none;
                border-radius: 5px;
                background: white;
                color: orangered;
                padding: 0.5rem 2rem;
                font-size: 1.1rem;
                margin: 0;

                @media (max-width: 768px) {
                    min-width: 100px;
                    font-size: 1.1rem;
                    padding: 5px;
                }
            }
        }
    }
}